* {
    box-sizing: border-box;
    transition: ease 0.3s;
    font-family: Inter;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
}

.page {
    height: 100vh;
    width: 100vw;
}
.top-header {
    display: grid;
    justify-items: center;
    align-items: center;
}
.TOP_IMG {
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
    align-content: center;
}
.SUB_IMG {
    position: relative;
    z-index: 20;
    height: 150px;
    border-radius: 50%;
    animation: float .5s ease alternate infinite;
}
.arrodBtn {
   background-color: rgba(255, 255, 255, 0); 
   border: 0px solid;
   
}

.SUB_IMG:hover {
    animation-play-state: paused;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
        
    }
}

/*Tweede pagina */
#main {
    background-color: black;
    color: white;
    height: 100%;
    align-items: center;
}
.main-header {
    padding:  10px 0px 10px 10px;
    background-color: #ffffff;
}
.logo2 {
    height: 150px;
    width: auto;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input {
    outline: none;
    padding: 10px;
    width: 500px;
    height: 50px;
    border-radius: 4px;
}
form label {
    padding: 10px 0;
    font-size: 20px;
}
form button {
    margin-top: 10px;
    height: 50px;
    border-radius: 4px;
    font-weight: bold;
    font-variant: all-small-caps;
    font-size: 16px;
}
form button:hover {
    background-color: rgb(165, 163, 163);
}